|$('#post-pagenate').append("#{escape_javascript(render @posts)}");
|$("#more-link").replaceWith("#{escape_javascript(link_to_next_page(@posts, '𓋴𓎛𓍯𓅱 𓅓𓍯𓂋𓇋', remote: true, class: 'more-link', id: 'more-link'))}");
